<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--mainHeading-->
            <div class="panel-title">
                Leerplan beheren
            </div>
        </div>
        <div class="panel-body">
            <!--mainBody-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--mainHeading-->
                    <div class="panel-title">
                        Leerplan :
                    </div>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default" ng-click="createNewStudyPlan()"><i class="fa fa-plus-square"></i></button>
                        <button type="button" class="btn btn-default" ng-click="getStudyPlanInfo()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>{{selectedStudyPlan.description}}</legend>
                            <div class="list-group">
                                <uib-accordion close-others="true">
                                    <div class="list-group-item" ng-repeat="generalgoal in selectedStudyPlan.generalGoals | orderBy : 'goalNumber' ">
                                        <div uib-accordion-group class="panel-default">
                                            <uib-accordion-heading>
                                                <i class="fa fa-info-circle text-info"></i> {{generalgoal.description}}
                                            </uib-accordion-heading>
                                            <p class="list-group-item-text">Doelnummer: {{generalgoal.goalNumber}} Gekoppelde lesdoelen: <span class="badge">{{generalgoal.goals.length}}</span></p>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                            <div class="pull-right"> 
                                <button ng-show="selectedStudyPlan" type="button" ng-click="addGeneralGoal()" class="btn btn-primary">Doel toevoegen<i class="fa fa-plus-square"></i></button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>

        </div>
        <div class="panel-footer">
            <!--mainFooter-->

        </div>
    </div>
</div>