<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--mainHeading-->
            <div class="panel-title">
                Klassen beheren
            </div>
        </div>
        <div class="panel-body"> <!--mainBody-->


            <!--Upload on form submit or button click-->
            <form ng-app="fileUpload" name="form">
                <!--Single Image with validations
                <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                     ngf-resize="{width: 100, height: 100}">Select</div>-->
                <div class="well well-sm" style="width: 300px">
                    <div class="input-group-btn" uib-dropdown>
                        <a class="btn btn-default" uib-dropdown-toggle>{{selectedSchoolYear.notation}} <i  class="fa fa-caret-down"></i></a>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li ng-repeat="schoolYear in schoolYears | orderBy:'startYear'" role="menuitem" ng-click="setSelectedSchoolYear(schoolYear)">
                                {{schoolYear.notation}}
                            </li>
                        </ul>
                    </div>
                  
                    <p>Bestand : {{file.name}}</p>
                    <div class="btn btn-default" ngf-select ng-model="file" name="file">Select</div>
                    <button type="button" class="btn btn-success" ng-click="uploadCsv()">Uploaden</button>
                </div>
                <!--Drop files: <div ngf-drop ng-model="file" class="drop-box">Drop</div>-->
            </form>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Klassen overzicht</th>
                        <th class="tcolDoubleSmButton">
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm" href="#/createClass"><i class="fa fa-users"></i> <i class="fa fa-plus"></i></a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="class in allClasses" ng-click="setSelectedClass(classX,$index)" ng-class="{'succes':$indew == selectedRow}">
                        <td>{{class.description}}</td>
                        <td><!--buttonspace--></td>
                    </tr>
                </tbody>

            </table>
            
        </div>
        <div class="panel-footer">
            <!--mainFooter-->
            
        </div>
    </div>
</div>