<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--mainHeading-->
            <div class="panel-title">
                Klassen beheren
            </div>
        </div>
        <div class="panel-body">
            <!--mainBody-->
            <uib-tabset active="activeJustified" justified="true">
                <!--Tab Overzicht-->
                <uib-tab index="0" heading="Overzicht">

                    <table class="table table-hover table-striped tableScrollableBody">
                        <thead>
                            <tr>
                                <th>Klassen overzicht</th>
                                <th class="tcolDoubleSmButton">
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-sm" href="#/createClass"><i class="fa fa-users"></i> <i class="fa fa-plus" ng-disabled="selectedClass === undefined"></i></a>
                                        <a class="btn btn-default btn-sm" ng-click="addCourse()"><i class="fa fa-fw fa-book" ng-disabled="selectedClass === undefined"></i> <i class="fa fa-plus"></i></a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="classX in allClasses" ng-class="{'success': $index == selectedRow}">
                                <td ng-click="setSelectedClass(classX,$index)">{{classX.description}}</td>
                                <td><!--buttonspace--></td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <!--Tab Bestand-->
                <uib-tab index="1" heading="Bestand">
                    <form class="form-horizontal" ng-app="fileUpload" name="form">
                        <div class="well-lg">
                            <div class="form-group">
                                <select-schoolyear selected="selectedSchoolYear"></select-schoolyear>
                            </div>
                            <div class="form-group">
                                <label for="fileSelector" class="control-label">Selecteer bestand:</label>
                                <div id="fileSelector" class="btn btn-default" ngf-select ng-model="file" name="fileSelector" ngf-change="fileUpdated($files, $event)">Select</div>
                                <button type="button" class="btn btn-success" ng-click="uploadCsv()" ng-hide="file === undefined">Uploaden</button>
                            </div>

                        </div>
                    </form>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="panel-footer">
            <!--mainFooter-->

        </div>
    </div>
</div>