<div>
    <div class="jumbotron">TestClasses</div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-2">Klas: {{testClass.name}}</div>
            <div class="col-xs-3">Schooljaar: {{testClass.schoolYear.startYear}} - {{testClass.schoolYear.endYear}}</div>
        </div>
        <div class="row" ng-repeat="student in testClass.students">
            <div class="col-xs-12">{{student.person.firstName}} {{student.person.lastName}}</div>
        </div>
    </div>
</div>
