<!DOCTYPE html>
<html lang="nl" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Evaluation Platform</title>
    <!--***CSS***-->
    <!-- Bootstrap Core CSS -->
    <link href="content/SladeBootstrap/bootstrap.css" rel="stylesheet" />
    <!--<link href="content/Darkly/bootstrap.css" rel="stylesheet"/>-->
    <!--<link href="content/Crulean/bootstrap.css" rel="stylesheet" />-->
    <!-- Custom CSS -->
    <link href="content/customCss/customCss.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->
    <link href="Content/designTemplateCss/morris.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="fonts/designTemplateFonts/font-awesome.min.css" rel="stylesheet" />
    <!--Angular css-->
    <link href="scripts/angular-ui/ui-bootstrap-0.14.3-csp.css" rel="stylesheet" />
    <link rel="stylesheet" href="content/font-awesome-4.4.0/css/font-awesome.min.css">
    <link href="scripts/3thParty/Angular-loadingBar/loading-bar.min.css" rel="stylesheet" />
    <link href="scripts/3thParty/Angular-Chart/angular-chart.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="indexController">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='/'>SB Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i> Admin tools <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/manageAccount"><i class="fa fa-user-plus"></i> Account beheren</a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a ng-click="logOut()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a ng-show="userName" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{userName}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/login"><i class="fa fa-fw fa-user"></i> Inloggen</a>
                        </li>
                        <li>
                            <a href="#/changePassword"><i class="fa fa-fw fa-envelope"></i> Wachtwoord</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="logOut()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
               
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#/classes"><i class="fa fa-fw fa-bar-chart-o"></i> Klassen</a>
                    </li>
                    <li>
                        <a href="#/login"><i class="fa fa-fw fa-sign-in"></i> Inloggen</a>
                    </li>
                    <li>
                        <a href="#/evaluationTemplates"><i class="fa fa-fw fa-table"></i> Evaluatie Sjablonen</a>
                    </li>
                    <li>
                        <a href="#/createStudent"><i class="fa fa-fw fa-safari"></i> Nieuwe Student</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div ng-view="">
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="scripts/jquery-2.1.4.js"></script>
    <script src="scripts/underscore.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="scripts/bootstrap.js"></script>
    <!--***Angular Scripts***-->
    <script src="scripts/angular.js"></script>
    <!--packages 3th party-->
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-ui.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-0.14.3.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="scripts/angular-local-storage.js"></script>
<script src="scripts/3thParty/Angular-loadingBar/loading-bar.min.js"></script>
    <script src="scripts/3thParty/Angular-Chart/Chart.js"></script>
    <script src="scripts/3thParty/Angular-Chart/angular-chart.js"></script>

    <!--Modules-->
    <script src="app/app.js"></script>
    <script src="app/home/home-module.js"></script>
    <script src="app/classes/classes-module.js"></script>
    <script src="app/login/login-module.js"></script>
    <script src="app/Account/account-module.js"></script>
    <script src="app/Index/index-module.js"></script>
    <script src="app/evaluationTemplate/evaluationTemplate-module.js"></script>
    <script src="app/evaluation/evaluation-module.js"></script>
    <script src="app/Student/student-module.js"></script>
    <!--Services-->
    <script src="app/configuration/services/configurationService.js"></script>
    <script src="app/classes/services/classesSvc.js"></script>
    <script src="app/Account/services/accountService.js"></script>
    <script src="app/login/factories/authInterceptorFactory.js"></script>
    <script src="app/login/services/authenticationService.js"></script>
    <script src="app/Index/services/indexService.js"></script>
    <script src="app/evaluationTemplate/services/evaluationTemplateService.js"></script>
    <script src="app/evaluation/services/evaluationService.js"></script>
    <script src="app/Student/services/studentService.js"></script>
    <!--Controllers-->
    <script src="app/home/controllers/homeCtrl.js"></script>
    <script src="app/classes/controllers/testClassCtrl.js"></script>
    <script src="app/login/controllers/loginCtrl.js"></script>
    <script src="app/Index/controllers/indexCtrl.js"></script>
    <script src="app/Student/controllers/createStudentController.js"></script>
    <script src="app/evaluationTemplate/controllers/createEvaluationTemplateCtrl.js"></script>
    <script src="app/evaluationTemplate/controllers/evaluationTemplateController.js"></script>
    <script src="app/Account/controllers/manageAccountController.js"></script>
    <!--Modal Controllers-->
    <script src="app/evaluationTemplate/controllers/generalEvaluationTemplateOptionsModalController.js"></script>
    <script src="app/evaluationTemplate/controllers/evaluationTemplateSubSectionModalController.js"></script>
    <script src="app/evaluationTemplate/controllers/evaluationTemplateGoalsModalController.js"></script>
    <script src="app/evaluationTemplate/controllers/createEvaluationsFromTemplateModalController.js"></script>
    <script src="app/Account/controllers/createAccountModalController.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="scripts/designTemplateScripts/morris/morris-data.js"></script>
    <script src="scripts/designTemplateScripts/morris/morris.js"></script>
</body>
</html>
