<!DOCTYPE html>
<html lang="nl" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--***CSS***-->
    <link rel="stylesheet" href="content/font-awesome-4.4.0/css/font-awesome.min.css">
    <link href="bundled/fullCss.css" rel="stylesheet" />

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="indexController">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='#/dashboard'>Evaluatieplatform</a>

                <!-- Top Menu Items -->

                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i> Admin tools <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/manageAccount"><i class="fa fa-user-plus"></i> Accounts beheren</a>
                            </li>
                            <li>
                                <a href="#/manageTeacher"><i class="fa fa-user"></i> Leerkrachten beheren</a>
                            </li>
                            <li>
                                <a href="#/manageCourse"><i class="fa fa-fw fa-book"></i> Cursussen beheren</a>
                            </li>
                            <li>
                                <a href="#/manageClasses"><i class="fa fa-users"></i> Klassen beheren</a>
                            </li>
                            <li>
                                <a href="#/manageStudyPlan"><i class="fa fa-calendar"></i> Leerplannen beheren</a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a ng-click="logOut()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a ng-show="userName" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{userName}} <b class="caret"></b></a>
                        <a ng-hide="userName" href="#/login" class="dropdown-toggle"><i class="fa fa-fw fa-sign-in"></i> Inloggen </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/login"><i class="fa fa-fw fa-sign-in"></i> Inloggen</a>
                            </li>
                            <li>
                                <a href="#/changePassword"><i class="fa fa-fw fa-envelope"></i> Wachtwoord</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-click="logOut()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="#/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#/classes"><i class="fa fa-fw fa-users"></i> Klassen</a>
                    </li>
                    <li>
                        <a href="#/evaluationTemplates"><i class="fa fa-fw fa-table"></i> Evaluatie Sjablonen</a>
                    </li>
                    <li>
                        <a href="#/courses"><i class="fa fa-fw fa-book"></i> Vakken</a>
                    </li>
                    <li>
                        <a href="#/evaluations"><i class="fa fa-fw fa-search"></i> Evaluaties</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div ng-view="">
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!--scripts-->

    <script src="scripts/underscore.min.js"></script>
    <script src="bundled/concat3thParty.js"></script>
    <script src="bundled/concatApp.js"></script>
    <script src="scripts/ng-file-upload.js"></script>
</body>


</html>
