<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--mainHeading-->
            <div class="panel-title">
                Creëer cursus
            </div>
        </div>
        <div class="panel-body">
            <!--mainBody-->
            <form class="form-horizontal">
                <fieldset>
                    <div class="col-md-8 col-sm-12">
                        <div class="form-group">
                            <select-schoolyear selected="schoolYear"></select-schoolyear>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription" class="control-label">Omschrijving</label>
                            <input class="form-control" ng-model="createCourseInfo.description" id="inputDescription" placeholder="Omschrijving" type="text">
                        </div>
                        <div class="form-group">
                            <label for="inputStudyPlan" class="control-label">Leerplan toevoegen</label>

                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" ng-model="createCourseInfo.studyPlan.description" placeholder="Selecteer een leerplan" />
                                <div class="input-group-btn">
                                    <a class="btn btn-default" ng-click="openStudyplanModal()"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top: 15px">
                    </div>
                </fieldset>
            </form>

        </div>
        <div class="modal-footer">
            <!--mainFooter-->
            <button type="button" class="btn btn-success" ng-click="ok()">Ok</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

        </div>
    </div>
</div>