<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--mainHeading-->
            <div class="panel-title">
                titel hiere
            </div>
        </div>
        <div class="panel-body">
            <!--mainBody-->
            <div class="form-horizontal">
                <fieldset>
                    <div class="row">
                        <div class="col-xs-12">

                        </div>

                        <div class="col-xs-12" style="margin-top: 15px">

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="ok()">Ok</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>

