<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--mainHeading-->
            <div class="panel-title">
                Creëer account
            </div>
        </div>
        <div class="panel-body">
            <!--mainBody-->

            <div class="form-horizontal">
                <fieldset>

                    <div class="col-xs-12">

                        <div class="form-group">
                            <label for="inputUsername" class="col-lg-2 control-label">Accountnaam</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputUsername" placeholder="Accountnaam" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputPassword" placeholder="Password" type="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">E-mail</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputEmail" placeholder="E-mail" type="email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Account rol</label>
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                        <input name="optionsRadios" id="rolUser" value="Normaal" checked="" type="radio">
                                        Option one is this
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="optionsRadios" id="rolAdmin" value="Administrator" type="radio">
                                        Option two can be something else
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputFirstname" class="col-lg-2 control-label">Voornaam</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputFirstname" placeholder="Voornaam" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputLastname" class="col-lg-2 control-label">Achternaam</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputLastname" placeholder="Achternaam" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputBirthdate" class="col-lg-2 control-label">Geboortedatum</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputBirthdate" placeholder="Geboortedatum" type="date" />
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12" style="margin-top: 15px">

                    </div>

                </fieldset>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="ok()">Ok</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>

