<div class="col-xs-12 col-md-6" ng-controller="calendarController">
    <table class="table table-striped table-bordered table-responsive">
        <thead>
        <th>Datum</th>
        <th>Omschrijving</th>
        <th>Vak</th>
        </thead>
        <tbody>
            <tr ng-repeat="evaluation in plannedEvaluations">
                <td>{{evaluation.evaluationDate | date }}</td>
                <td>{{evaluation.discription}}</td>
                <td>{{evaluation.course.discription }}</td>
            </tr>
        </tbody>
    </table>
</div>
