<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--mainHeading-->
            <div class="panel-title">
                Doel toevoegen
            </div>
        </div>
        <div class="panel-body">
            <!--mainBody-->
            <div class="col-xs-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Filter
                        </div>
                        <div class="btn-group pull-right">
                            <a class="btn btn-default" ng-click="clearFilter()"><i class="fa fa-eraser"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div>
                                        <label for="text" class="control-label">Omschrijving:</label>
                                        <input class="form-control" type="text" id="text" ng-model="goalFilter.description" placeholder="Zoek op ..."/>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div>
                                        <label for="groupname" class="control-label">Groupsnaam:</label>
                                        <input class="form-control" type="text" id="groupname" ng-model="goalFilter.groupname" placeholder="Zoek op ..."/>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <div>
                                        <label for="generalgoalnr" class="control-label">Doelnr:</label>
                                        <input class="form-control" type="number" id="generalgoalnr" ng-model="goalFilter.generalGoalNumber" placeholder="Zoek op ..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 ">
                <div class="form-horizontal">
                    <fieldset>
                        <legend>Lesdoelen voor {{course.description}}</legend>
                        <div class="smallScrolable">
                            <table class="table table-hover table-responsive ">
                                <thead>
                                    <tr>
                                        <th>Omschrijving</th>
                                        <th style="width: 175px">Groepsnaam</th>
                                        <th style="width: 65px">DoelNr</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-click="setSelectedGoal(goal, $index)" ng-repeat="goal in availableGoals | filter : goalFilter" ng-class="{'success': $index == selectedRow}">
                                        <td>{{goal.description}}</td>
                                        <td>{{goal.groupname}}</td>
                                        <td>{{goal.generalGoalNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="ok()">Ok</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>

