<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--mainHeading-->
            <div class="panel-title">
                Doel toevoegen
            </div>
        </div>
        <div class="panel-body">
            <!--mainBody-->
            <div class="form-horizontal">
                <div col-xs-12>
                    <div class="form-group">
                        <label for="text" class="control-label">Text:</label>
                        <input class="form-control" type="text" id="text" ng-model="goalFilter.description" placeholder="Zoek op ..." />
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <fieldset>
                    <legend>Lesdoelen voor {{course.title}}</legend>
                    <div class="col-xs-12 ">
                        <div class="smallScrolable">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Lesdoelen: {{course.description}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="goal in availableGoals | filter : goalFilter" ng-class="{'success': $index == selectedRow}">
                                        <td ng-click="setSelectedGoal(goal, $index)">{{goal.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="ok()">Ok</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>

