<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--mainHeading-->
            <div class="panel-title">
                Leerkrachten beheren
            </div>
        </div>
        <div class="panel-body">
            <!--mainBody-->

            <table class="table table-hover table-striped">
                <thead>
                    <tr class="bg-greyTitle">
                        <th class="text-center">Leraren overzicht</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="account in accountList" ng-class="{'success': $index == selectedRow}">
                        <td ng-click="setSelectedAccount(template, $index)">{{account.person.firstName}} {{account.person.LastName}}</td>
                        <td> <!--buttons?--></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <!--mainFooter-->

        </div>
    </div>
</div>