

<div class="col-xs-12 col-md-12" ng-controller="calendarController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--mainHeading-->
            <div class="panel-title">
                Geplande evaluaties
            </div>
            <div class="btn-group pull-right">
                <a class="btn btn-default" ng-click="showCalendar = !showCalendar"><i class="fa fa-calendar"></i></a>
                <a class="btn btn-default" ng-click="startEvaluation()"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <!--mainBody-->
            <table class="table table-striped table-responsive table-hover">
                <thead>
                <th>Datum</th>
                <th>Omschrijving</th>
                <th>Vak</th>
                </thead>
                <tbody>
                <tr ng-repeat="evaluation in plannedEvaluations" ng-click="setSelectedEvaluation(evaluation, $index)" ng-class="{'success': $index == selectedRow}">
                    <td>{{evaluation.evaluationDate | date }}</td>
                    <td>{{evaluation.description}}</td>
                    <td>{{evaluation.course.description }}</td>
                </tr>
                </tbody>
            </table>

            <div ng-show="showCalendar">
                <mwl-calendar view="calendarView"
                              current-day="calendarDay"
                              events="events"
                              view-title="calendarTitle"
                              on-event-click="eventClicked(calendarEvent)"
                              on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                              edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
    on-edit-event-click="eventEdited(calendarEvent)"
    on-delete-event-click="eventDeleted(calendarEvent)"
    cell-is-open="false">
</mwl-calendar>
            </div>
        </div>
    </div>
</div>
